<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('ptzcamera') }}" width="15%" />
    <img src="{{ url_for('camera1') }}" width="15%" />
    <img src="{{ url_for('camera2') }}" width="15%" />
    <img src="{{ url_for('camera3') }}" width="15%" />
    <img src="{{ url_for('camera4') }}" width="15%" />
    <img src="{{ url_for('camera5') }}" width="15%" />

    <img src="{{ url_for('ptzcameraprocessed') }}" width="15%" />
    <img src="{{ url_for('camera1processed') }}" width="15%" />
    <img src="{{ url_for('camera2processed') }}" width="15%" />
    <img src="{{ url_for('camera3processed') }}" width="15%" />
    <img src="{{ url_for('camera4processed') }}" width="15%" />
    <img src="{{ url_for('camera5processed') }}" width="15%" />
  </body>
</html>
