<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('camera0') }}" width="15%" />
    <img src="{{ url_for('camera1') }}" width="15%" />
    <img src="{{ url_for('camera2') }}" width="15%" />
    <img src="{{ url_for('camera3') }}" width="15%" />
    <img src="{{ url_for('camera4') }}" width="15%" />
    <img src="{{ url_for('camera5') }}" width="15%" />

    <img src="{{ url_for('camera6') }}" width="15%" />
    <img src="{{ url_for('camera7') }}" width="15%" />
    <img src="{{ url_for('camera8') }}" width="15%" />
    <img src="{{ url_for('camera9') }}" width="15%" />
    <img src="{{ url_for('camera10') }}" width="15%" />
    <img src="{{ url_for('camera11') }}" width="15%" />
  </body>
</html>
